<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>個人資料</title>

</head>

<body>

<h2>個人資料</h2>

<!-- 左右排版 -->
<div style="display:flex; gap:80px; align-items:flex-start;">

    <!-- 左邊：資料表單 -->
    <div>

        <form th:action="@{/updateProfile}"
              method="post"
              enctype="multipart/form-data">

            帳號：
            <input type="text"
                   name="username"
                   th:value="${user.username}"
                   readonly>

            <br><br>

            Email：
            <input type="text"
                   name="email"
                   th:value="${user.email}">

            <br><br>

            頭像：
            <input type="file" name="photo">

            <br><br>

            <button type="submit">
                修改資料
            </button>

            <p th:if="${param.success}"
               style="color: green;"
               id="msg">
               修改資料成功!
            </p>

        </form>

    </div>


    <!-- 右邊：會員頭像 -->
    <div>

        <h3>會員頭像</h3>

        <img th:if="${user.imgName != null}"
             th:src="@{'/upload/' + ${user.imgName}}"
             width="200"
             style="border:1px solid gray;
                    padding:5px;
                    border-radius:10px;">

    </div>

</div>


<script>
setTimeout(function(){
    let msg = document.getElementById("msg");
    if(msg){
        msg.style.display="none";
    }
} , 3000);
</script>


<br><br>
<hr>

<h4>修改密碼</h4>

<form th:action="@{/changePassword}" method="post">

舊密碼：
<input type="password"
       name="oldPassword"
       required>

<br><br>

新密碼：
<input type="password"
       name="newPassword"
       required>

<br><br>

確認新密碼：
<input type="password"
       name="confirmPassword"
       required>

<br><br>

<button type="submit">
修改密碼
</button>

</form>


<!-- 成功提示 -->
<div th:if="${success}" style="color:green">
    <span th:text="${success}"></span>
</div>

<!-- 錯誤提示 -->
<div th:if="${error}" style="color:red">
    <span th:text="${error}"></span>
</div>


<br><br>

<a href="/loginSuccess">
<button>回到登入成功頁</button>
</a>

</body>
</html>