<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>會員列表</title>
</head>

<body>

<h2>會員列表</h2>

<a href="/loginSuccess">
<button>← 回登入成功頁</button>
</a>

<br><br>

<form action="/users" method="get">

搜尋會員：

<input type="text"
       name="keyword"
       th:value="${keyword}">

<button type="submit">

搜尋

</button>

</form>

<br><br>

<table border="1">

<tr>
<th>ID</th>
<th>帳號</th>
<th>Email</th>
</tr>

<tr th:each="user : ${users}">

<td th:text="${user.id}"></td>

<td th:text="${user.username}"></td>

<td th:text="${user.email}"></td>

</tr>

</table>

<br>

<p>

會員總數：

<span th:text="${total}"></span>
<br>

<div>

	<a th:if="${page > 0}"
		th:href="@{/users(page=${page-1},keyword=${keyword})}">上一頁</a>
		
|

<a th:if="${page < totalPages-1}"
   th:href="@{/users(page=${page+1},keyword=${keyword})}">下一頁</a>

</div>
</p>

</body>
</html>