<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>登入成功</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<style>

body{
height:100vh;
background:linear-gradient(135deg,#4e73df,#1cc88a);
display:flex;
justify-content:center;
align-items:center;
}

.card-box{
width:420px;
border-radius:15px;
}

.timer{
font-size:24px;
font-weight:bold;
color:#1cc88a;
}

.avatar{
width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
display:block;
margin:0 auto;
}

</style>

</head>

<body>

<div class="card shadow-lg p-4 card-box text-center">

<h3 class="mb-3">登入成功</h3>

<img class="avatar mb-3"
     th:src="${user.avatarUrl}"
     width="80"
     height="80">

<!--<img class="avatar"-->
<!--     th:src="${user.imgName != null} ? -->
<!--        @{/upload/{img}(img=${user.imgName})} : -->
<!--        @{/images/default-avatar.png}">-->
		
<!--<img class="avatar"-->
<!--     th:src="${#strings.isEmpty(user.imgName)} ? -->
<!--        @{/images/default-avatar.png} : -->
<!--        @{/upload/{img}(img=${user.imgName})}">-->

<div th:if="${param.noAuth}" style="color:red; margin:10px; font-weight:bold;">
	❌ 沒有權限存取此頁面
</div>

<p>登入時間

<br>

<span id="timer" class="timer"></span>

</p>

<hr>

<p>

歡迎登入：

<b th:text="${username}"></b>

</p>

<br>

<a href="/profile" class="btn btn-primary w-100 mb-2">
個人資料
</a>

<div th:if="${role == 'ADMIN' || role=='SUPER_ADMIN' }">
<a href="/users" class="btn btn-info w-100 mb-2">
會員列表
</a>
</div>

<form action="/logout" method="post">

<button class="btn btn-danger w-100">
登出
</button>

</form>

</div>


<script th:inline="javascript">

let loginTime = /*[[${loginTime}]]*/ 0;

function updateTimer(){

let now = new Date().getTime();

let diff = now - loginTime;

let totalSeconds = Math.floor(diff/1000);

let h = Math.floor(totalSeconds/3600);
let m = Math.floor((totalSeconds%3600)/60);
let s = totalSeconds%60;

document.getElementById("timer").innerHTML =
h.toString().padStart(2,'0') + ":" +
m.toString().padStart(2,'0') + ":" +
s.toString().padStart(2,'0');

}

setInterval(updateTimer,1000);

updateTimer();

</script>

</body>
</html>